:root {
  --main-font: "Montserrat", sans-serif;
  --bg-color: #F9F9F9;
  --text-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 30px 0;
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #d3d3d3;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}